.containerActive{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 48px;
    padding: 10px 18px 10px 18px;
    margin: 3px 10px 3px 10px;
    border: solid 2px #1A62CF;
    border-radius: 4px;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92%;
    height: 48px;
    padding: 10px 20px 10px 20px;
    margin: 3px 10px 3px 10px;

}
.title{
    color : #313131;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    margin-left: 10px;

}

.titleActive{
    color : #1A62CF;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    margin-left: 10px;
}
.conatiner_leftPart{
    width: 80%;
    display: flex;
    align-items: center;
}


.activeIcon {
   fill: rgb(33, 33, 49);
}
/* .container img{
    width: 50px;
} */

@media screen and (max-width: 767px) {
    .container, .containerActive{
        width: 97%;
    }

}

@media screen and (max-width: 992px) {
    .container{
        padding: 10px 14px 10px 14px;
    }
    .containerActive{
        padding: 10px 12px 10px 12px;
    }
    .title, .titleActive{
        margin-left: 12px;
    }
}