.btn{
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(26, 98, 207);
    width: 100%;
    height: 66px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}