.conatiner{
    width: 52px;
    height: 26px;
    border-radius: 4px;
}


.wrapperOk{
    width: 100%;
    height: 100%;
    background-color: #49A01F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 5px;
    border-radius: 4px;
}
.wrapperNorm{
    width: 100%;
    height: 100%;
    background-color: #1A62CF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 5px;
    border-radius: 4px;
}
.wrapperBad{
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 6px;
    border-radius: 4px;
}

.conatiner img{
    width: 16px;
    height: 16px;
    padding: 0 0 2px 0;
}

.conatiner span{
    font-size: 12px;
    font-weight: 700;
    color: white;
    padding: 0 1px 0 0;
}