.filterItem{
    width: 100%;
    margin: 17px 0 10px 0;
    display: flex;
    flex-direction: column;
}

.title{
    color : #313131;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 12px;
}