.container{
    position: relative;
    display: inline-block;
    width: 32.5%;
}
.select{
    border: none;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    padding: 15px 10px;
    font-size: 18px;
    color: #5A5A5A;
    font-weight: 500;
    margin-top: 1px;
}
.select::placeholder{
    color: #ACACAC;
    font-size: 18px;
    font-weight: 500;
  
  }
.icon{
    position: absolute;
    top: 19px;
    right: 13px;
}

.dropTown{
    background-color: white;
    position: absolute;
    top: 60px;
    border-radius: 5px;
    max-height: 256px; 
    overflow-y: auto;
    width: 100%;
    z-index: 999;
}
.dropTown::-webkit-scrollbar {
    width: 10px; 
    border-radius: 6px;

  }
.dropTown::-webkit-scrollbar-thumb {
    background-color: #b3b0b0; 
    border-radius: 6px; 
    width: 10px;
   
  }
  .dropTown::-webkit-scrollbar-track {
    background-color: #dddada;
    width: 12px;
    border-radius: 6px;
    margin: 20px;
  }
.place{
    list-style: none;
    font-size: 16px;
    height: 38px;
    border-bottom: 1px #dddada solid;
    width: 90%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}
.place:hover{
    border-left: 3px rgb(26, 98, 207) solid;
    padding-left: 3px;
}
.selectedPlace{
    border-left: 3px rgb(26, 98, 207) solid;
    padding-left: 3px;
}
.dropTown :last-child{
    border-bottom : none;
}
@media screen and (max-width: 750px) {
 .icon img{
    display: none;
 }   

}

@media screen and (max-width: 639px) {
    .icon img{
       display: block;
    }   
    .container{
        width: 100%;
        margin-bottom: 6px;
    }
   }

   @media screen and (max-width: 360px) {
    .icon img{
       display: none;
    }   
   }