.outputCrumbs{
    width: 100%;
    height: 67px;
    max-width: 719px;
    border: solid #ACACAC 1px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
.crumbsItem{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ACACAC;
}
.crumbsItemActive{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1A62CF;
}

.crumbsNum{
    font-weight: 400;
    font-size: 24px;
    position: relative;
    bottom: 1px;
    left: 24px;
}

.crumbsData{  
   
    display: flex;
    flex-direction: column;
}
.title {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    bottom: 2px;
    right: 3px;
}

.subTitle {
    font-weight: 400;
    font-size: 14px;
    position: relative;
    bottom: -1px;
    right: 3px;
}
.crumbsItem img{
    width: 22px;
    height: 22px;
}

.firstArrow{
    position: relative;
    bottom: 1px;
    left: 9px;
}

.secondArrow{
    position: relative;
    bottom: 1px;
    left: 9px;
}
.outputCrumbs :nth-child(3) .crumbsData .title {
    position: relative;
    bottom: 2px;
    right: 44px;
}
.outputCrumbs :nth-child(3) .crumbsData .subTitle {
    position: relative;
    bottom: -1px;
    right: 43px;
}

@media screen and (max-width: 960px) {
 .crumbsNum{
    left: 13px;
 }
 .title {
    font-size: 15px;
    left: 13px;
}

.subTitle {
    font-size: 13px;
    left: 13px;
}
.firstArrow{ 
    left: 12px;
}
.outputCrumbs :nth-child(3){
    justify-content: flex-start;
}
.outputCrumbs :nth-child(3) .crumbsNum {
    left: 8px;
}
}



@media screen and (max-width: 767px) {
    .left{
        display: none;
    }
    .right{
        margin: 0;
    }
}


