.outputCrumbs{
    width: 100%;
    height: 67px;
    max-width: 719px;
    border: solid #ACACAC 1px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.crumbsItem{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ACACAC;
}
.crumbsItemActive{
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #1A62CF;
}

.crumbsNum{
    font-weight: 400;
    font-size: 24px;
    position: relative;
    bottom: 1px;
    left: 24px;
}

.crumbsData{  
   
    display: flex;
    flex-direction: column;
}
.title {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    bottom: 2px;
    right: 3px;
}

.subTitle {
    font-weight: 400;
    font-size: 14px;
    position: relative;
    bottom: -1px;
    right: 3px;
}
.crumbsItem img{
    width: 22px;
    height: 22px;
}

.firstArrow{
    position: relative;
    bottom: 1px;
    left: 9px;
}

.secondArrow{
    position: relative;
    bottom: 1px;
    left: 9px;
}
.outputCrumbs :nth-child(3) .crumbsData .title {
    position: relative;
    bottom: 2px;
    right: 44px;
}
.outputCrumbs :nth-child(3) .crumbsData .subTitle {
    position: relative;
    bottom: -1px;
    right: 43px;
}

/* MOBILE DEFAULT STYLES */

.crumbsItem_mob{
    width: 100%;
    height: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    /* color: #1A62CF; */
}


.crumbsData_mob{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 0 20px;
}
.crumbsData_mob__center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crumbsData_mob__right{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.title_mob{
    color : #313131;
    font-size: 16px;
    font-weight: 500;
    bottom: 3px;
    right: 8px;
    position: relative;
}

.subTitle_mob{
    color : #ACACAC;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    right: 9px;
    top: 4px;
}

.doneCrumbArrow{
    margin: 0 13px 0 0;
}

.backCrumbArrow{
    margin: 0 0 0 13px;
}
@media screen and (max-width: 960px) {
 .crumbsNum{
    left: 13px;
 }
 .title {
    font-size: 15px;
    left: 13px;
}

.subTitle {
    font-size: 13px;
    left: 13px;
}
.firstArrow{ 
    left: 12px;
}
.outputCrumbs :nth-child(3){
    justify-content: flex-start;
}
.outputCrumbs :nth-child(3) .crumbsNum {
    left: 8px;
}
}



@media screen and (max-width: 767px) {
    .crumbsItem_mob {
        display: flex;
    }
    .left{
        display: none;
    }
    .right{
        margin: 0;
    }
    .crumbsItem{
        display: none;
    }
    .crumbsItemActive {
        display: none;
    }
}


