.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.centalBlock{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 100%;
    max-width: 990px;
    padding: 16px 0 208px 0;
    display: flex;
    margin: 0 20px;
}

.left{
    width: 252px;
    display: flex;
    flex-direction: column;
}

.filtersContainer{
    width: 252px;
    height: 1371px;
    border: solid #ACACAC 1px;
    border-radius: 4px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
}


.right{
    width: 100%;
    max-width: 719px;
    margin-left: 19px;
    border: solid #ACACAC 1px;
    border-radius: 4px;
}
.outputCrumbs{
    width: 100%;
    height: 67px;
    max-width: 719px;
    border: solid #ACACAC 1px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.outputInfoAndSort{
    width: 100%;
    height: 55px;
}

.carList{
    width: 100%;
    height: auto;
}

.header{
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header span {
    color : #313131;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    left: 24px;
    top: 3px;
}

.header img{
    position: relative;
    left: 17px;
    top: 3px;
}

@media screen and (max-width: 992px) {
    .left{
        width: 220px;
    }
    
    .filtersContainer{
        width: 220px;
    }
}

@media screen and (max-width: 767px) {
    .left{
        display: none;
    }
    .right{
        margin : 0;
    }
   
}
