
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}
.displayLoad{
    width: 87px;
    height: 84px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 12;
}
.hiddenLoad{
    display: none;
}
.centalBlock{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin-top: 130px;
    padding-top: 40px;
    background-color: #F8F8F8;
}
.centalBlockLoading{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    background-image: url(/bookingcar-modal/src/assets/bgPreloader.svg);
    filter: brightness(60%);
    padding-right: 5px;
    margin-top: 130px;
    padding-top: 40px;
}
.wrapper{
    width: 100%;
    max-width: 990px;
    padding: 16px 0 208px 0;
    display: flex;
    margin: 0 20px;
}

.left{
    width: 252px;
    display: flex;
    flex-direction: column;
}

.filtersContainer{
    width: 252px;
    min-height: 1371px;
    border: solid #ACACAC 1px;
    border-radius: 4px;
    margin-bottom: 13px;
    display: flex;
    flex-direction: column;
    background-color: white;
}


.right{
    width: 100%;
    max-width: 719px;
    margin-left: 19px;
    border-radius: 4px;
    
}
.outputCrumbs{
    width: 100%;
    height: 67px;
    max-width: 719px;
    border: solid #ACACAC 1px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.carList{
    width: 100%;
    height: auto;
}

.header{
    height: 54px;
    width: 100%;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header span {
    color : #313131;
    font-weight: 400;
    font-size: 18px;
    position: relative;
    left: 24px;
    top: 3px;
}

.header img{
    position: relative;
    left: 17px;
    top: 3px;
}

.mobileFilters{
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

}

.mobileFiltersHeader{
    background-color: #F8F8F8;
    height: 114px;
    border-bottom: solid 1px #ACACAC;
    width: 100%;
    margin: 0 0 25px 0;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.back{
    font-size: 18px;
    font-weight: 400;
    color : #313131;
    cursor: pointer;
}
.reset{
    font-size: 18px;
    font-weight: 400;
    color : #1A62CF;
    cursor: pointer;
}
@media screen and (max-width: 992px) {
    .left{
        width: 220px;
    }
    
    .filtersContainer{
        width: 220px;
    }
}

@media screen and (max-width: 767px) {
    .left{
        display: none;
    }
    .right{
        margin : 0;
    }
   .centalBlock{
    padding-top: 76px;
   }
   
}
