.container{
    width: 100%;
    height: 96px;
    background-color: #FBC405;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 10px 5px rgba(0, 0, 0, .2);
}

.wrapper{
    width: 100%;
    max-width: 990px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

.data{
    display: flex;
    justify-content: space-between;
}
.crumbsArrow{
    width: 32px;
    height: 33px;
    margin-right: 30px;
    /* position: relative;
    top: 3px;
    right: 60px; */
}
.start{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    /* position: relative;
    top: 3px; */
}
.startPointLocation span, .finishPointLocation span{
    color : #313131;
    font-size: 16px;
    font-weight: 500;
}
.startPointDate span, .finishPointDate span{
    color : #313131;
    font-size: 14px;
    font-weight: 400;
}

.finish{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    /* position: relative;
    top: 3px;
    right: 119px; */
}
.finishPointLocation span, .finishPointLocation span{
    color : #313131;
    font-size: 16px;
    font-weight: 500;
}
.finishPointDate span, .finishPointDate span{
    color : #313131;
    font-size: 14px;
    font-weight: 400;
}

.btn{
    width: 118px;
    height: 36px;
    border: none;
    border-radius: 4px;
    color : #313131;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    -webkit-box-shadow: 0px -2px 9px -5px rgba(49, 49, 49, 0.6) inset;
-moz-box-shadow: 0px -2px 9px -5px rgba(49, 49, 49, 0.6) inset;
box-shadow: 0px -2px 9px -5px rgba(49, 49, 49, 0.6) inset;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
}
.btn span{
    position: relative;
    left: 3px;
}

/* MOBILE VERSION INITIAL STYLES */
.wrapper_mob{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 18px 10px 22px;
}
.data_mob{
    display: flex;
    flex-direction: column;
}
.startPointLocation_mob, .finishPointLocation_mob{
    color : #313131;
    font-size: 14px;
    font-weight: 500;
    font-variation-settings: 'wght' 400 , 'wdth' 75;
}
.fullDate_mob{
    color : #313131;
    font-size: 12px;
    font-weight: 400;
}
.btn_mob{
    width: 36px;
    height: 36px;
    border: none;
    border-radius: 4px;
    color : #313131;
    font-size: 14px;
    font-weight: 400;
    background-color: white;
    -webkit-box-shadow: 0px -2px 9px -5px rgba(49, 49, 49, 0.6) inset;
    -moz-box-shadow: 0px -2px 9px -5px rgba(49, 49, 49, 0.6) inset;
    box-shadow: 0px -2px 9px -5px rgba(49, 49, 49, 0.6) inset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* MOBILE VERSION STYLES */


@media screen and (max-width: 920px) {
    .start, .crumbsArrow, .finish{
        margin-right: 10px;
    }
    
}

@media screen and (max-width: 767px) {
    .container{
        height: 76px;
    }
    .wrapper{
        display: none;
    }
    .wrapper_mob{
        display: flex;
    }
}